*{
    margin: auto;
    box-sizing: border-box;
}

.h1-copyright{
    margin-top: -70px;
}
#header{
    text-align: center;
}

.logo-copyright{
   width: 100px;
    height: 100px;
    align-content: center;
}

#header{
    text-align: center;
}

#explanation{
    margin-top: 10px;
    text-align: center;
}

#headericon{
    width: 100px;
    height: 100px;
    align-content: center;
}

.copyright-content{
    display: block;
    max-width: 800px;
    margin: -180px auto;
    text-align: center;
    line-height: 1.5;
    padding: 0 10px;
}

.copyright-photo{
    display: block;
    max-width: 600px;
    height: auto;
    margin: -100px 1450px auto;
}
#inputsite{
    margin-top: 10px;
}

.topBar{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    text-align: center;
}

.topbarchild{
    margin-top: 30px;
}

.info{
    padding: 10px;
    border: 1px solid black;
    margin-left: 1000px;
}